<html lang="en" ng-app="ListTest">

<head>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
  <link rel="stylesheet" href="/style.css">
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>
  <script src="/script.js"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
</head>

<body layout="row" layout-xs="column" ng-controller="AppCtrl">
  <div flex>
    <md-toolbar class="md-toolbar-tools" layout="row">
      <md-input-container flex>
        <label>Keyword</label>
        <input id="inputField" ng-model="keyword">
      </md-input-container>
      <md-button class="md-raised" style="margin-right: 20px;" ng-click="getTweets(false)">Fetch</md-button>

<md-button class="md-raised" ng-click="getTweets(true)">Fetch & Save</md-button>

</md-toolbar>

<div class="md-whiteframe-z1 list-container" layout="row" flex>
  <md-content flex>
    <md-list flex>
      <md-item ng-repeat="item in tweets" flex>
        <md-item-content>
          <div class="md-tile-left">
            <img src="https://image.flaticon.com/icons/svg/174/174876.svg" class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h4>{{item.who}}</h4>

            <h3>{{item.what}}</h3>
            <p>
              {{item.notes}}
            </p>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>
</div>
</body>

</html>