md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

 .face {

  width: 48px;
  height:48px;
  margin: 16px;
   
}

.list-container {
  margin:0 auto;
  width:60vw;
}
md-input-container.md-default-theme label, 
 md-input-container.md-default-theme .md-placeholder {
    color:white !important;
}
input.box::-webkit-input-placeholder, textarea.box::-webkit-input-placeholder { color: white; }